.DS_Store
.vscode/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

日志/
输出结果/
测试结果/
原始输入/
清洗结果/

*.xlsx
*.xls
!模版/教师列表导入模板.xlsx

chrome_front*.png
current_chrome*.png
device_activation*.png
github_new*.png
github_repo_*.png
gitee_*.png
